.login{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width:100%;
    margin: 40px auto;
    background: #5d5d5d;
    padding: 40px;
    color: #fff;
    .error{
        color: #ff2200;
    }
}